# python rest
dist
.ipynb_checkpoints
__pycache__
__hidden__*
*.pyc
# auto generated pixi
docs/docs
docs/reference
# pixi
.pixi
*.egg-info
.quarto/*
benchmark/
test/test_exceedance_frequency_line.py
test/data/results.xlsx