name: Run Pytest

on:
  push:
    branches: [main]
  pull_request:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]  # Run tests on both Ubuntu and Windows

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          manifest-path: pixi.toml
          pixi-version: "latest"

      - name: Run Pytests
        run: pixi run pytest-cov